body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.section1 {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  padding: 20px 0;
}

.headerlogo {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.title {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 80px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 460px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  font-weight: 400;
  color: #E5E7EB;

}

.hero button {
  width: 130px;
  height: 38px;
  color: white;
  background-color: #3882F6;
  font-weight: 900;
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
}

.section2 {
  background-color: white;
}

.section2 h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.piccontainer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.pictures {
  width: 180px;
}

.section3 {
  background-color: #E5E7EB;
}

.quotecontainer {
  margin: 90px 500px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
  font-style: italic;
}

.author {
  font-weight: 900;
  font-size: 18px;
  text-align: right;
}

.section4 {
  display: flex;
  justify-content: center;
}

.bluerectangle {
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
}